<?xml version="1.0" encoding="utf-8"?> 
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.inaturalist.manitoba.android"
    android:versionCode="55"
    android:versionName="1.0.0" >

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <permission
        android:name="org.inaturalist.manitoba.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="org.inaturalist.manitoba.android.permission.MAPS_RECEIVE"/>
    
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:theme="@style/Theme.Sherlock"
        android:icon="@drawable/manitoba_logo"
        android:label="@string/app_name"
        android:name="org.inaturalist.manitoba.android.INaturalistApp" >
        
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" /> 

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/gmaps2_api_key" />
        <activity
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:name=".AboutActivity" >
           	<meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="org.inaturalist.manitoba.android.MainActivity" />
        </activity>
        <activity
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:name="org.inaturalist.manitoba.android.TutorialActivity" >
           	<meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="org.inaturalist.manitoba.android.MainActivity" />
        </activity>
        <activity
            android:configChanges="orientation"
            android:label="@string/guides"
            android:name="org.inaturalist.manitoba.android.GuideDetails" >
           	<meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="org.inaturalist.manitoba.android.GuidesActivity" />
        </activity>
        <activity
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:name="org.inaturalist.manitoba.android.GuideTaxonActivity" >
           	<meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="org.inaturalist.manitoba.android.GuideDetails" />
        </activity>
        
        <activity
            android:configChanges="orientation"
            android:label="@string/projects"
            android:name="org.inaturalist.manitoba.android.ProjectDetails" >
           	<meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="org.inaturalist.manitoba.android.ProjectsActivity" />
        </activity>
         <activity
            android:configChanges="orientation"
            android:label="@string/projects"
            android:name="org.inaturalist.manitoba.android.ProjectsActivity">
        </activity>
  		<activity
            android:configChanges="orientation"
            android:label="@string/guides"
            android:name="org.inaturalist.manitoba.android.GuidesActivity">
        </activity>
        
        <activity
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:name="org.inaturalist.manitoba.android.ProjectSelectorActivity" >
        </activity>
 
        <activity
            android:configChanges="orientation"
            android:label="@string/comments_ids"
            android:name="org.inaturalist.manitoba.android.CommentsIdsActivity" >
        </activity>
         <activity
            android:configChanges="orientation"
            android:label="@string/add_id"
            android:name="org.inaturalist.manitoba.android.IdentificationActivity" >
        </activity>
        <activity
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:name="org.inaturalist.manitoba.android.TaxonSearchActivity" >
        </activity>
         <activity
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:name="org.inaturalist.manitoba.android.MainActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:name="org.inaturalist.manitoba.android.ObservationListActivity" >
        </activity>
        <activity
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:theme="@style/Theme"  
            android:name="org.inaturalist.manitoba.android.ObservationEditor" >
           	<meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="org.inaturalist.manitoba.android.MainActivity" />
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.INSERT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.google.observation" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.google.observation" />
                <data android:mimeType="vnd.android.cursor.item/vnd.google.observation_photo" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.google.observation_photo" />
                <data android:mimeType="vnd.android.cursor.item/vnd.google.inatproject" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.google.inatproject" />
                <data android:mimeType="vnd.android.cursor.item/vnd.google.projectobservation" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.google.projectobservation" />
            </intent-filter>
        </activity>
        <activity
            android:configChanges="orientation"
            android:label="@string/settings"
            android:name="org.inaturalist.manitoba.android.INaturalistPrefsActivity" >
        </activity>
        <activity android:name="com.facebook.LoginActivity"
          android:theme="@android:style/Theme.Translucent.NoTitleBar"
          android:label="@string/app_name" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity
            android:configChanges="orientation"
            android:label="@string/map"
            android:name="org.inaturalist.manitoba.android.INaturalistMapActivity" >
        </activity>
        <activity
            android:configChanges="orientation"
            android:label="@string/choose_location"
            android:name="org.inaturalist.manitoba.android.LocationChooserActivity" >
        </activity>
        <activity
            android:configChanges="orientation"
            android:label="@string/updates"
            android:name="org.inaturalist.manitoba.android.WebActivity" >
        </activity>
        <activity
            android:configChanges="orientation"
            android:name="org.inaturalist.manitoba.android.ObservationDetails" >
        </activity>
        <activity
            android:configChanges="orientation"
            android:name="org.inaturalist.manitoba.android.ObservationPhotosViewer" >
        </activity>



        <provider
            android:authorities="org.inaturalist.manitoba.android.observation;org.inaturalist.manitoba.android.observation_photo;org.inaturalist.manitoba.android.project;org.inaturalist.manitoba.android.project_observation;org.inaturalist.manitoba.android.project_field;org.inaturalist.manitoba.android.project_field_value"
            android:name="org.inaturalist.manitoba.android.ObservationProvider" >
        </provider>

        <service android:name="org.inaturalist.manitoba.android.INaturalistService" />
        <meta-data android:name="com.crashlytics.ApiKey" android:value="7baaee0ca8a376b3d129b908c1e03be6ecbe5786"/>
    </application>

</manifest>