<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.inaturalist.android"
    android:installLocation="auto"
    android:requestLegacyExternalStorage="true"
    android:versionCode="450"
    android:versionName="1.20.19">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature android:name="android.hardware.location.gps" />

    <permission
        android:name="org.inaturalist.android.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="org.inaturalist.android.permission.MAPS_RECEIVE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".INaturalistApp"
        android:icon="@mipmap/app_icon"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/iNatAppTheme">

        <uses-library android:name="org.apache.http.legacy" android:required="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/gmaps2_api_key" />

        <activity
            android:name=".TutorialActivity"
            android:configChanges="orientation"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ObservationListActivity" />
        </activity>
        <activity
            android:name=".DataQualityAssessment"
            android:configChanges="orientation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ObservationViewerActivity" />
        </activity>
        <activity
            android:name=".GuideDetails"
            android:configChanges="orientation"
            android:label="@string/guides">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GuidesActivity" />
        </activity>
        <activity
            android:name=".UserActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".GuideTaxonActivity"
            android:configChanges="orientation"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GuideDetails" />
        </activity>
        <activity
            android:name=".UserProfile"
            android:configChanges="orientation"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowActionBar="false">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="*.inaturalist.org"
                    android:pathPattern="/people/.*"
                    android:scheme="https"/>
                <data
                    android:host="*.naturalista.mx"
                    android:pathPattern="/people/.*"
                    android:scheme="https"/>
                <data
                    android:host="*.inaturalist.nz"
                    android:pathPattern="/people/.*"
                    android:scheme="https"/>
                <data
                    android:host="inaturalist.nz"
                    android:pathPattern="/people/.*"
                    android:scheme="https"/>
                <data
                    android:host="*.inaturalist.ca"
                    android:pathPattern="/people/.*"
                    android:scheme="https"/>
                <data
                    android:host="*.biodiversity4all.org"
                    android:pathPattern="/people/.*"
                    android:scheme="https"/>
                <data
                    android:host="inaturalist.ala.org.au"
                    android:pathPattern="/people/.*"
                    android:scheme="https"/>
                <data
                    android:host="*.argentinat.org"
                    android:pathPattern="/people/.*"
                    android:scheme="https"/>
                <data
                    android:host="inaturalist.laji.fi"
                    android:pathPattern="/people/.*"
                    android:scheme="https"/>
            </intent-filter>

        </activity>
        <activity
            android:name=".ProjectDetails"
            android:configChanges="orientation"
            android:label="@string/projects"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowActionBar="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProjectsActivity" />
        </activity>
        <activity
            android:name=".ProjectsActivity"
            android:configChanges="orientation"
            android:label="@string/projects"></activity>
        <activity
            android:name=".GuidesActivity"
            android:configChanges="orientation"
            android:label="@string/guides"></activity>
        <activity
            android:name=".ProjectSelectorActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:theme="@style/iNatAppThemeCustomActionBar"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".IdentificationActivity"
            android:configChanges="orientation"
            android:label="@string/add_id"></activity>
        <activity
            android:name=".TaxonSearchActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".LoginSignupActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"></activity>
        <activity
            android:name=".ObservationViewerActivity"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="*.inaturalist.org"
                    android:pathPattern="/observations/.*"
                    android:scheme="https"/>
                <data
                    android:host="*.naturalista.mx"
                    android:pathPattern="/observations/.*"
                    android:scheme="https"/>
                 <data
                    android:host="*.inaturalist.nz"
                    android:pathPattern="/observations/.*"
                    android:scheme="https"/>
                  <data
                    android:host="inaturalist.nz"
                    android:pathPattern="/observations/.*"
                    android:scheme="https"/>
                 <data
                    android:host="*.inaturalist.ca"
                    android:pathPattern="/observations/.*"
                    android:scheme="https"/>
                 <data
                    android:host="*.biodiversity4all.org"
                    android:pathPattern="/observations/.*"
                    android:scheme="https"/>
                 <data
                    android:host="inaturalist.ala.org.au"
                    android:pathPattern="/observations/.*"
                    android:scheme="https"/>
                 <data
                    android:host="*.argentinat.org"
                    android:pathPattern="/observations/.*"
                    android:scheme="https"/>
                <data
                    android:host="inaturalist.laji.fi"
                    android:pathPattern="/observations/.*"
                    android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".OnboardingActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ObservationListActivity"
            android:configChanges="orientation"
            android:label="@string/app_name">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity-alias
            android:name=".ObservationListActivity.inaturalist"
            android:targetActivity=".ObservationListActivity"
            android:enabled="true"
            android:configChanges="orientation"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ObservationListActivity.inaturalistcanada"
            android:targetActivity=".ObservationListActivity"
            android:configChanges="orientation"
            android:enabled="false"
            android:label="@string/network_inaturalistcanada">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ObservationListActivity.naturalistacolombia"
            android:targetActivity=".ObservationListActivity"
            android:configChanges="orientation"
            android:enabled="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ObservationListActivity.naturalista"
            android:targetActivity=".ObservationListActivity"
            android:configChanges="orientation"
            android:enabled="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ObservationListActivity.naturewatchnz"
            android:targetActivity=".ObservationListActivity"
            android:enabled="false"
            android:configChanges="orientation"
            android:label="@string/network_naturewatchnz">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ObservationListActivity.biodiversity4all"
            android:targetActivity=".ObservationListActivity"
            android:enabled="false"
            android:configChanges="orientation"
            android:label="@string/network_biodiversity4all">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ObservationListActivity.inaturalistpanama"
            android:targetActivity=".ObservationListActivity"
            android:configChanges="orientation"
            android:enabled="false"
            android:label="@string/network_inaturalistpanama">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ObservationListActivity.inaturalistecuador"
            android:targetActivity=".ObservationListActivity"
            android:configChanges="orientation"
            android:enabled="false"
            android:label="@string/network_inaturalistecuador">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ObservationListActivity.inaturalistaustralia"
            android:targetActivity=".ObservationListActivity"
            android:configChanges="orientation"
            android:enabled="false"
            android:label="@string/network_inaturalistaustralia">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ObservationListActivity.inaturalistfi"
            android:targetActivity=".ObservationListActivity"
            android:configChanges="orientation"
            android:enabled="false"
            android:label="@string/network_inaturalistfi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ObservationListActivity.inaturalistil"
            android:targetActivity=".ObservationListActivity"
            android:configChanges="orientation"
            android:enabled="false"
            android:label="@string/network_inaturalistil">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".ObservationListActivity.argentinat"
            android:targetActivity=".ObservationListActivity"
            android:configChanges="orientation"
            android:enabled="false"
            android:label="@string/network_argentinat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity
            android:name=".ObservationEditor"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:theme="@style/iNatAppThemeCustomActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ObservationListActivity" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.INSERT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.google.observation" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.google.observation" />
                <data android:mimeType="vnd.android.cursor.item/vnd.google.observation_photo" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.google.observation_photo" />
                <data android:mimeType="vnd.android.cursor.item/vnd.google.observation_sound" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.google.observation_sound" />
                <data android:mimeType="vnd.android.cursor.item/vnd.google.inatproject" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.google.inatproject" />
                <data android:mimeType="vnd.android.cursor.item/vnd.google.projectobservation" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.google.projectobservation" />
            </intent-filter>

            <!-- Share image(s) with iNaturalist -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <!-- Share sound(s) with iNaturalist -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="audio/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".LocationChooserActivity"
            android:configChanges="orientation"
            android:theme="@style/LocationChooserActionBar"
            android:label="@string/choose_location"></activity>
        <activity
            android:name=".WebActivity"
            android:configChanges="orientation"
            android:label="@string/activity"></activity>
        <activity
            android:name=".ObservationPhotosViewer"
            android:configChanges="orientation"></activity>
        <activity
            android:name=".TaxonTagPhotosViewer"
            android:configChanges="orientation"></activity>
        <activity
            android:name=".LocationDetailsActivity"
            android:configChanges="orientation"></activity>
        <activity
            android:name=".ObservationProjectsViewer"
            android:configChanges="orientation"></activity>
        <activity
            android:name=".ProjectDetailsAbout"
            android:configChanges="orientation"></activity>
        <activity
            android:name=".ProjectNews"
            android:configChanges="orientation"></activity>
        <activity
            android:name=".NewsArticle"
            android:configChanges="orientation"></activity>
        <activity
            android:name=".ProfilePhotoViewer"
            android:configChanges="orientation"></activity>
        <activity
            android:name=".ItemSearchActivity"
            android:configChanges="orientation"></activity>
        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation"></activity>
        <activity
            android:name=".AboutActivity"
            android:configChanges="orientation"></activity>
        <activity
            android:name=".DebugSettingsActivity"
            android:configChanges="orientation"></activity>

        <provider
            android:name=".ObservationProvider"
            android:authorities="org.inaturalist.android.observation;org.inaturalist.android.observation_sound;org.inaturalist.android.observation_photo;org.inaturalist.android.project;org.inaturalist.android.project_observation;org.inaturalist.android.project_field;org.inaturalist.android.project_field_value"></provider>

        <activity
            android:name=".ProfileEditor"
            android:configChanges="orientation"></activity>
        <activity
            android:name=".NetworkSettings"
            android:configChanges="orientation"></activity>
        <activity
            android:name=".CreditsActivity"
            android:configChanges="orientation"></activity>
        <activity
            android:name=".ObservationSearchActivity"
            android:configChanges="orientation"></activity>
        <activity
            android:name=".MissionsActivity"
            android:configChanges="orientation"
            android:label="@string/missions"></activity>
        <activity
            android:name=".MissionsGridActivity"
            android:configChanges="orientation"
            android:label="@string/missions"></activity>
        <activity
            android:name=".MissionDetails"
            android:configChanges="orientation"
            android:label=""
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name=".MissionDetailsMapActivity"
            android:configChanges="orientation"
            android:label=""></activity>
        <activity
            android:name=".MissionsOnboardingActivity"
            android:configChanges="orientation"
            android:label=""></activity>
        <activity
            android:name=".TaxonActivity"
            android:configChanges="orientation"
            android:label=""></activity>
        <activity
            android:name=".TaxonMapActivity"
            android:configChanges="orientation"
            android:label=""></activity>
        <activity
            android:name=".TaxonSuggestionsActivity"
            android:configChanges="orientation"
            android:label=""></activity>
        <activity
            android:name=".CompareSuggestionActivity"
            android:configChanges="orientation"
            android:label=""></activity>
        <activity
            android:name=".ExploreActivity"
            android:label=""></activity>
        <activity
            android:name=".ExploreSearchActivity"
            android:configChanges="orientation"
            android:label=""></activity>
        <activity
            android:name=".ExploreFiltersActivity"
            android:configChanges="orientation"
            android:label=""></activity>
        <activity
            android:name=".ObservationSoundViewer"
            android:configChanges="orientation"
            android:label=""></activity>
        <activity
            android:name=".RecordSoundActivity"
            android:configChanges="orientation"
            android:label=""></activity>
        <activity
            android:name=".PinnedLocationSearchActivity"
            android:configChanges="orientation"
            android:label=""></activity>
        <activity
            android:name=".ObservationPhotoEditor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowActionBar="false"
            android:configChanges="orientation"
            android:label=""></activity>
        <activity
            android:name=".DeleteAccount"
            android:configChanges="orientation"
            android:label=""></activity>
        <activity
            android:name=".ThirdPartyDataSharingActivity"
            android:configChanges="orientation"
            android:label=""></activity>
        <activity
            android:name=".PlaceSearchActivity"
            android:configChanges="orientation"
            android:label=""></activity>

        <activity
            android:name=".MessagesActivity"
            android:configChanges="orientation"
            android:label="@string/all_messages"></activity>

        <activity
            android:name=".MessagesThreadActivity"
            android:configChanges="orientation">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="*.inaturalist.org"
                    android:pathPattern="/messages/.*"
                    android:scheme="https"/>
                <data
                    android:host="*.naturalista.mx"
                    android:pathPattern="/messages/.*"
                    android:scheme="https"/>
                <data
                    android:host="*.inaturalist.nz"
                    android:pathPattern="/messages/.*"
                    android:scheme="https"/>
                <data
                    android:host="inaturalist.nz"
                    android:pathPattern="/messages/.*"
                    android:scheme="https"/>
                <data
                    android:host="*.inaturalist.ca"
                    android:pathPattern="/messages/.*"
                    android:scheme="https"/>
                <data
                    android:host="*.biodiversity4all.org"
                    android:pathPattern="/messages/.*"
                    android:scheme="https"/>
                <data
                    android:host="inaturalist.ala.org.au"
                    android:pathPattern="/messages/.*"
                    android:scheme="https"/>
                <data
                    android:host="*.argentinat.org"
                    android:pathPattern="/messages/.*"
                    android:scheme="https"/>
                <data
                    android:host="inaturalist.laji.fi"
                    android:pathPattern="/messages/.*"
                    android:scheme="https"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".NewMessageActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation"></activity>

        <activity
            android:name=".NewMessageSelectUserActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation"></activity>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <service android:name=".INaturalistService" />

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="7baaee0ca8a376b3d129b908c1e03be6ecbe5786" />
    </application>

</manifest>
